/* Arcade font */
@import url('http://fonts.cdnfonts.com/css/arcade-classic');

/* ----------- default styles ----------- */
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ArcadeClassic', sans-serif;
  height: 100vh;
  margin: 0;
  background: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
}

h1 {
  width: 100vw;
  font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
  -webkit-text-stroke: 0.1rem black;
  -webkit-text-fill-color: #F7CA3B;
  text-shadow: 5px 0px 0.1px #EB3725;
  border: 5px solid green;
}

/* ----------- media queries ----------- */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  h1 {
    font-size: 0rem;
  }

  footer {
    height: 30%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  h1 {
    font-size: 5rem;
  }

  footer {
    height: 30%;
  }
}

.title {
  font-size: 3rem;
  margin: 0 auto;
}

.main {
  border: 5px dashed yellow;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

img {
  width: 15rem;
  image-rendering: pixelated;
  border: 5px dotted blue;
}

.buttons {
  width: 80%;
  border: 5px dotted green;
}

.button {
  color: white;
  font-size: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: inline-block;
}

#punch {
  background-color: red;
  border: 0.3rem solid rgb(132, 0, 0);
}

#kick {
  background-color: limegreen;
  border: 0.3rem solid rgb(15, 132, 0);
}

#taunt {
  background-color: rgb(197, 205, 50);
  border: 0.3rem solid rgb(125, 132, 0);
}

#special {
  font-size: 3rem;
  line-height: 1.7;
  font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
  background-color: rgb(0, 123, 255);
  border: 0.3rem solid rgb(0, 64, 132);

  /* balance the offset from font-size */
  position: relative;
  top: 1.07rem;
}