html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ArcadeClassic', sans-serif;
  height: 100vh;
  margin: 0 auto;
  background: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
}

h1#title {
  width: 90vw;
  font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
  -webkit-text-stroke: 0.1rem black;
  -webkit-text-fill-color: #F7CA3B;
  text-shadow: 5px 0px 0.1px #EB3725;
  border: 3px solid green;
}

/* media queries */

@media (orientation: portrait) and (max-width: 415px) {
  h1 {
    font-size: 3.5rem;
  }
}


@media screen and (min-width: 416px) {
  h1 {
    font-size: 3rem;
  }

  .btn {
    font-size: 1rem;
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9rem;
  }
}

.main {
  border-top: 3px solid yellow;
  height: 80vh;
}

img {
  border: 2px solid blue;
}

.buttons {
  border: 1px solid red;
}

.button {
  color: white;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: inline-block;
}

#punch {
  background-color: red;
  border: 0.3rem solid rgb(132, 0, 0);
}

#kick {
  background-color: limegreen;
  border: 0.3rem solid rgb(15, 132, 0);
}

#taunt {
  background-color: rgb(197, 205, 50);
  border: 0.3rem solid rgb(125, 132, 0);
}

#special {
  font-size: 2.5rem;
  font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
  background-color: rgb(0, 123, 255);
  border: 0.3rem solid rgb(0, 64, 132);

  /* to balance the font-size */
  position: relative;
  top: 0.85rem;
}